* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 450px) {
    #container {
        display: block;
    }

    h1 {
        display: block;
    }
    
}